.bak.*
*~
arith_test
arith_testP
arith_testV
arith_file
arith_fileP
arith_fileV
arith_file_2
arith_file_2V
arith_inv
arith_invV
arith_simple
html/
latex/

test/arith_test_c
test/arith_test_c_p
test/arith_test_c_v
test/arith_test_p
test/arith_test_p_p
test/arith_test_p_v
