.bak.*
*~

arith_file
arith_file_p
arith_file_v

arith_file_2
arith_file_2_p
arith_file_2_v

arith_inv
arith_inv_v

arith_simple
arith_simple_p
arith_simple_v

arith_simple_markov
arith_simple_markov_p
arith_simple_markov_v


html/
latex/

test/arith_test_c
test/arith_test_c_p
test/arith_test_c_v
test/arith_test_p
test/arith_test_p_p
test/arith_test_p_v
corpus/silesia/
corpus/calgary_corpus/
